absl-py
alembic
asgiref
astroid
astunparse
attrs
bcrypt
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy
crispy-bootstrap4
cycler
deepface
dill
distlib
Django
django-crispy-forms
filelock
fire
Flask
Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-Migrate
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
gast
gdown
google-pasta
greenlet
grpcio
gunicorn
h5py
huggingface-hub
idna
isort
itsdangerous
--extra-index-url https://download.pytorch.org/whl/cpu
jax[cpu]
jaxlib
Jinja2
joblib
keras
kiwisolver
langdetect
libclang
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mccabe
mdurl
mediapipe
ml_dtypes
mpmath
mtcnn
namex
networkx
nltk
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pandas
pillow
platformdirs
protobuf
pycparser
Pygments
PyJWT
pylint
PyMySQL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
razorpay
regex
requests
retina-face
rich
safetensors
scipy
sentencepiece
six
sounddevice
soupsieve
SQLAlchemy
sqlparse
sympy
tensorboard
tensorboard-data-server
tensorflow-cpu
termcolor
textblob
tf_keras
tokenizers
tomlkit
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
vaderSentiment
virtualenv
Werkzeug
wrapt
groq
python-dotenv
